@import "common/global.scss";
$headerHeight: 60px;

.header-container {
    display: flex;
    flex-direction: row;
    width: inherit;
    align-items: center;
    justify-content: space-between;
    height: $headerHeight;
    background-color: $white;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.28);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.28);
    padding: 5px 20px;
    z-index: 1;

    .util-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        .down-icon {
            display: flex;
            margin-right: 8px;
            color: $green;
        }

        .avatar-icon {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: $green;
        }
    }
}