$green: #4eae53;
$white: #FFFFFF;
$blue: #1890ff;
$black: #12130F;
$grey: #494850;

$green-shade: #469d4b;

$globalTopPadding: 40px;
$globalLeftPadding: 70px;
$globalBottomPadding: 20px;
$globalRightPadding: 70px;